// main: ./roguetrader.less
.rogue-trader.sheet.player-sheet {

    // CSS for entire sheet
    font-family: "Garamond";
    font-size: 16px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    

        // CSS for header and content
    .sheet-header {
        order: 0;
        display:flex;
        flex-direction: row;
        justify-content: center;
    }

    .character-image {
        order: 1;
        width: 120px;
        height: 150px;
        margin-left: 8px;
        margin-top: 10px;
        margin-bottom: 3px;
        border: 3px #e99d76 solid;
    };

    .char-info-box {
        order: 2;
        width: 69%;
        height: 100%;
        padding-top: 20px;
        padding-left: 10px;
        margin-left: 8px;
        margin-top: 10px;
        margin-bottom: 3px;
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
    };
    
    .char-name-box {
        order: 1;
        width:250px;
        padding-right: 10px;
    };

    .player-name-box {
        order: 2;
        width: 250px;
    };

    .char-desc-box {
        order: 3;
        width: 500px;
    }

    // content-box, containing all non-header tabs
    .content-box {
        order: 0;
    }

    //content tab one
    .content-tab-one {
        display: flex;
        flex-direction: row;
        align-items: stretch;
    }

    // Origins
    .origin-box {
        order: 2;
        width:300px;
        height:250px;
        margin-left: 8px;
        margin-top: 10px;
        margin-bottom: 3px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    };

    .origin-box input {
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
    }

    .origin-field {
        margin-left: 8px;
        margin-bottom: 3px;
        width: 180px;
    }

    .career-box {
        order: 1;
    }

    .homeworld-box {
        order: 2;
    }

    .birthright-box {
        order: 3;
    }

    .lineage-box {
        order: 4;
    }
    
    .lure-of-the-void-box {
        order: 5;
    }

    .trials-and-travails-box {
        order: 6;
    }

    .motivation-box {
        order: 7;
    }

    //characteristics
    .characteristics-section {
        order: 1;
        width: 300px;
        margin-left: 8px;
        margin-top: 10px;
        margin-bottom: 3px;
    }
    
    .char-box {
        display: flex;
        flex-flow: row wrap;
        align-items: stretch;
        justify-content: space-evenly;
    }

    .char-name {
        order: 1;
        width: 100px;
        text-align: center;
    }

    .char-input {
        order: 2;
        width: 35px;
        text-align: center;
    }

    .char-bonus {
        order: 3;
        width: 35px;
        text-align: center;
    }
    
    .char-modifier {
        order: 4;
        width: 35px;
        text-align: center;
    }
}
