// main: ./roguetrader.less
.rogue-trader.sheet.player-sheet {

    // CSS for entire sheet
    font-family: "Garamond";
    font-size: 16px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    

        // CSS for header and content
    .sheet-header {
        order: 0;
        display:flex;
        flex-direction: row;
        justify-content: center;
    }

    .character-image {
        order: 1;
        width: 120px;
        height: 150px;
        margin-left: 8px;
        margin-top: 10px;
        margin-bottom: 3px;
        border: 3px #e99d76 solid;
    };

    .char-info-box {
        order: 2;
        width: 69%;
        height: 100%;
        padding-top: 20px;
        padding-left: 10px;
        margin-left: 8px;
        margin-top: 10px;
        margin-bottom: 3px;
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
    };
    
    .char-name-box {
        order: 1;
        width:250px;
        padding-right: 10px;
    };

    .player-name-box {
        order: 2;
        width: 250px;
    };

    .char-desc-box {
        order: 3;
        width: 500px;
    }

    // content-box, containing all non-header tabs
    .content-box {
        order: 0;
    }

    //content tab one
    .content-tab-one {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        flex-wrap: wrap;
    }

    .sheet-characteristic {
        order: 1;
    }

    .sheet-origin {
        order: 2;
    }

    .sheet-resources {
        order: 3;
    }

    // Origins
    .origin-box {
        order: 2;
        width:300px;
        height:250px;
        margin-left: 8px;
        margin-top: 10px;
        margin-bottom: 3px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    };

    .origin-box input {
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
    }

    .origin-field {
        margin-left: 8px;
        margin-bottom: 3px;
        width: 180px;
    }

    .career-box {
        order: 1;
    }

    .homeworld-box {
        order: 2;
    }

    .birthright-box {
        order: 3;
    }

    .lineage-box {
        order: 4;
    }
    
    .lure-of-the-void-box {
        order: 5;
    }

    .trials-and-travails-box {
        order: 6;
    }

    .motivation-box {
        order: 7;
    }

    //characteristics
    .characteristics-section {
        order: 1;
        width: 300px;
        margin-left: 8px;
        margin-top: 10px;
        margin-bottom: 3px;
    }
    
    .char-box {
        display: flex;
        flex-flow: row wrap;
        align-items: stretch;
        justify-content: space-evenly;
    }

    .char-name {
        order: 1;
        width: 100px;
        text-align: center;
    }

    .char-input {
        order: 2;
        width: 35px;
        text-align: center;
    }

    .char-modifier {
        order: 3;
        width: 40px;
        text-align: center;
    }

    .char-bonus {
        order: 4;
        width: 35px;
        text-align: center;
    }
    
    .resources-section {
        display: flex;
        flex-flow: row wrap;
    }

    .health-box {
        order: 1;
        display: flex;
        flex-flow: column wrap;
    }

    .wounds-box {
        order: 1;
        width: 50px;
        text-align: center;
        margin-right: 10px;
    }

    .damage-box {
        order: 2;
        width: 50px;
        text-align: center;
    }

    .fate-box {
        order: 3;
        display: flex;
        flex-flow: column wrap;
        margin-right: 10px;
    }

    .fate-current-box {
        width: 50px;
        text-align: center;
        order: 1;
    }

    .fate-max-box {
        width: 50px;
        text-align: center;
        order: 2;
    }

    .profit-box {
        order: 4;
        margin-right: 10px;
    }

    .profit-input {
        width: 50px;
    }

    .movement-box {
        order: 5;
        display: flex;
        flex-flow: column wrap;
        align-items: stretch;
        justify-content: space-evenly;

    }

    .movement-title {
        order: 1;
        text-align: center;
    }

    .movement-types {
        order: 2;
        display: flex;
        flex-flow: row wrap;
        align-items: stretch;
        justify-content: space-evenly;
        text-align: center;
    }

    .movement-half {
        margin-right: 5px;
        order: 1;
    }

    .movement-full {
        margin-right: 5px;
        order: 2;
    }

    .movement-charge {
        margin-right: 5px;
        order: 3;
    }

    .movement-run {
        order: 4;
    }

    .weight-box {
        order: 6;
    }
}
