.rogue-trader.sheet.player-sheet {
  font-family: "Garamond";
  font-size: 16px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}
.rogue-trader.sheet.player-sheet .sheet-header {
  order: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.rogue-trader.sheet.player-sheet .character-image {
  order: 1;
  width: 120px;
  height: 150px;
  margin-left: 8px;
  margin-top: 10px;
  margin-bottom: 3px;
  border: 3px #e99d76 solid;
}
.rogue-trader.sheet.player-sheet .char-info-box {
  order: 2;
  width: 69%;
  height: 100%;
  padding-top: 20px;
  padding-left: 10px;
  margin-left: 8px;
  margin-top: 10px;
  margin-bottom: 3px;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
}
.rogue-trader.sheet.player-sheet .char-name-box {
  order: 1;
  width: 250px;
  padding-right: 10px;
}
.rogue-trader.sheet.player-sheet .player-name-box {
  order: 2;
  width: 250px;
}
.rogue-trader.sheet.player-sheet .char-desc-box {
  order: 3;
  width: 500px;
}
.rogue-trader.sheet.player-sheet .content-box {
  order: 0;
}
.rogue-trader.sheet.player-sheet .content-tab-one {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.rogue-trader.sheet.player-sheet .origin-box {
  order: 2;
  width: 300px;
  height: 250px;
  margin-left: 8px;
  margin-top: 10px;
  margin-bottom: 3px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.rogue-trader.sheet.player-sheet .origin-box input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}
.rogue-trader.sheet.player-sheet .origin-field {
  margin-left: 8px;
  margin-bottom: 3px;
  width: 180px;
}
.rogue-trader.sheet.player-sheet .career-box {
  order: 1;
}
.rogue-trader.sheet.player-sheet .homeworld-box {
  order: 2;
}
.rogue-trader.sheet.player-sheet .birthright-box {
  order: 3;
}
.rogue-trader.sheet.player-sheet .lineage-box {
  order: 4;
}
.rogue-trader.sheet.player-sheet .lure-of-the-void-box {
  order: 5;
}
.rogue-trader.sheet.player-sheet .trials-and-travails-box {
  order: 6;
}
.rogue-trader.sheet.player-sheet .motivation-box {
  order: 7;
}
.rogue-trader.sheet.player-sheet .characteristics-box {
  order: 1;
  width: 300px;
  margin-left: 8px;
  margin-top: 10px;
  margin-bottom: 3px;
}
